{
  "openapi": "3.0.3",
  "info": {
    "title": "ParcelBridge API",
    "version": "0.1.0",
    "description": "Session-based JSON API for ParcelBridge web and mobile clients."
  },
  "servers": [
    {
      "url": "https://parcelbridge.ddev.site",
      "description": "DDEV local"
    }
  ],
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "Packages"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Ship Requests"
    },
    {
      "name": "Shipments"
    }
  ],
  "paths": {
    "/api/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login and create a session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              },
              "example": {
                "email": "admin@example.test",
                "password": "password123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/logout": {
      "post": {
        "tags": ["Auth"],
        "summary": "Logout current session",
        "responses": {
          "200": {
            "description": "Logout state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "tags": ["Auth"],
        "summary": "Current authenticated user",
        "responses": {
          "200": {
            "description": "Authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/packages": {
      "get": {
        "tags": ["Packages"],
        "summary": "List packages visible to the current user",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Package list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "packages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Package"
                      }
                    }
                  },
                  "required": ["packages"]
                }
              }
            }
          }
        }
      }
    },
    "/api/packages/{id}": {
      "get": {
        "tags": ["Packages"],
        "summary": "Package detail",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Package detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "package": {
                      "$ref": "#/components/schemas/Package"
                    }
                  },
                  "required": ["package"]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/packages/{id}/invoice": {
      "post": {
        "tags": ["Packages"],
        "summary": "Upload or replace invoice file",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "invoice_file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["invoice_file"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uploaded invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BusinessError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "put": {
        "tags": ["Packages"],
        "summary": "Upload or replace invoice file",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "invoice_file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["invoice_file"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uploaded invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BusinessError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/packages/{id}/ready-for-pickup": {
      "post": {
        "tags": ["Packages"],
        "summary": "Mark package ready for pickup",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated package",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BusinessError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/packages/{id}/deliver": {
      "post": {
        "tags": ["Packages"],
        "summary": "Mark package delivered",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated package",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BusinessError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/invoices": {
      "get": {
        "tags": ["Invoices"],
        "summary": "List invoices visible to the current user",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  },
                  "required": ["invoices"]
                }
              }
            }
          }
        }
      }
    },
    "/api/invoices/{id}": {
      "get": {
        "tags": ["Invoices"],
        "summary": "Invoice detail",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/invoices/{id}/approve": {
      "post": {
        "tags": ["Invoices"],
        "summary": "Approve invoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Approved invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BusinessError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/invoices/{id}/needs-review": {
      "post": {
        "tags": ["Invoices"],
        "summary": "Flag invoice as needing review",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeedsReviewRequest"
              },
              "example": {
                "admin_notes": "Missing invoice details."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flagged invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BusinessError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/ship-requests": {
      "get": {
        "tags": ["Ship Requests"],
        "summary": "List ship requests visible to the current user",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Ship request list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ship_requests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ShipRequest"
                      }
                    }
                  },
                  "required": ["ship_requests"]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Ship Requests"],
        "summary": "Submit ship request for approved packages",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipRequestSubmitRequest"
              },
              "example": {
                "package_ids": [1]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created ship request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipRequestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BusinessError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/ship-requests/{id}": {
      "get": {
        "tags": ["Ship Requests"],
        "summary": "Ship request detail",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Ship request detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipRequestResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/ship-requests/{id}/process": {
      "post": {
        "tags": ["Ship Requests"],
        "summary": "Process submitted ship request",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipRequestProcessRequest"
              },
              "example": {
                "processing_reference": "AIR-2026-001"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processed ship request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipRequestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BusinessError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/shipments": {
      "get": {
        "tags": ["Shipments"],
        "summary": "List shipped, ready for pickup, and delivered packages",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shipments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Package"
                      }
                    }
                  },
                  "required": ["shipments"]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "IdPath": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "SearchQuery": {
        "name": "q",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication failed or session is missing",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The authenticated user is not allowed to access the resource",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BusinessError": {
        "description": "Business workflow validation failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        },
        "required": ["email", "password"]
      },
      "NeedsReviewRequest": {
        "type": "object",
        "properties": {
          "admin_notes": {
            "type": "string"
          }
        },
        "required": ["admin_notes"]
      },
      "ShipRequestSubmitRequest": {
        "type": "object",
        "properties": {
          "package_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "minItems": 1
          }
        },
        "required": ["package_ids"]
      },
      "ShipRequestProcessRequest": {
        "type": "object",
        "properties": {
          "processing_reference": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "EnumValue": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": ["value", "label"]
      },
      "Client": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "integer"
          },
          "suite_number": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "address_line_1": {
            "type": "string",
            "nullable": true
          },
          "address_line_2": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "$ref": "#/components/schemas/EnumValue"
          },
          "client": {
            "$ref": "#/components/schemas/Client"
          }
        },
        "required": ["id", "name", "email", "role"]
      },
      "Package": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "client_id": {
            "type": "integer"
          },
          "client": {
            "$ref": "#/components/schemas/Client"
          },
          "tracking_number": {
            "type": "string"
          },
          "contents_description": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/EnumValue"
          },
          "width": {
            "type": "string"
          },
          "height": {
            "type": "string"
          },
          "length": {
            "type": "string"
          },
          "dimension_unit": {
            "$ref": "#/components/schemas/EnumValue"
          },
          "weight": {
            "type": "string"
          },
          "weight_unit": {
            "$ref": "#/components/schemas/EnumValue"
          },
          "received_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "shipped_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ready_for_pickup_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "delivered_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "package_id": {
            "type": "integer"
          },
          "original_filename": {
            "type": "string"
          },
          "mime_type": {
            "type": "string"
          },
          "file_size": {
            "type": "integer"
          },
          "review_status": {
            "$ref": "#/components/schemas/EnumValue"
          },
          "admin_notes": {
            "type": "string",
            "nullable": true
          },
          "uploaded_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "reviewed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "package": {
            "$ref": "#/components/schemas/Package"
          }
        }
      },
      "ShipRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "client_id": {
            "type": "integer"
          },
          "client": {
            "$ref": "#/components/schemas/Client"
          },
          "status": {
            "$ref": "#/components/schemas/EnumValue"
          },
          "processing_reference": {
            "type": "string",
            "nullable": true
          },
          "submitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "processed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "packages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Package"
            }
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          }
        },
        "required": ["user"]
      },
      "PackageResponse": {
        "type": "object",
        "properties": {
          "package": {
            "$ref": "#/components/schemas/Package"
          }
        },
        "required": ["package"]
      },
      "InvoiceResponse": {
        "type": "object",
        "properties": {
          "invoice": {
            "$ref": "#/components/schemas/Invoice"
          }
        },
        "required": ["invoice"]
      },
      "ShipRequestResponse": {
        "type": "object",
        "properties": {
          "ship_request": {
            "$ref": "#/components/schemas/ShipRequest"
          }
        },
        "required": ["ship_request"]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        },
        "required": ["success"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              }
            },
            "required": ["message"]
          }
        },
        "required": ["error"]
      }
    }
  }
}
